<%- include('../layout/adminHeader') %>
<section>   
      <div class="container">
        <form role="form"  action="/newCoupon" method="post">    
        <div class="row ">                    
            <div class="col-6">
                <div class="card card-plain">
                    <div class="card-header">
                      <h4 class="font-weight-bolder">Add new Coupon</h4>
                      <!-- <p class="mb-0">Enter your email and password to register</p> -->
                    </div>

                    <div class="card-body">             
                      <div class="input-group input-group-outline mb-3">
                         <input type="text" name="coupon" class="form-control" placeholder="Enter Coupon Code eg: FESTIV2024">
                      </div>                     
                      <div class="input-group input-group-outline mb-3">
                        <input type="text" name="percentage" class="form-control" placeholder="Enter Discount Percentage">
                     </div>   
                     <div class="input-group input-group-outline mb-3">
                        <input type="date" name="start" class="form-control" placeholder="Select Start Date: dd-mm-yyyy">
                     </div>   
                     <div class="input-group input-group-outline mb-3">
                        <input type="date" name="end" class="form-control" placeholder="Select End Date: dd-mm-yyyy">
                     </div>   
                     <div class="input-group input-group-outline mb-3">
                        <input type="text" name="min_purch" class="form-control" placeholder="Enter Minimum Purchase Amount">
                     </div>   
                     <div class="input-group input-group-outline mb-3">
                        <input type="text" name="max_amt" class="form-control" placeholder="Enter Maximum Discount Amount">
                     </div>                      
                                           
                        <div class="text-center d-flex justify-content-end">                         
                            <input type="submit"    class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0 me-2">Add</button>
                         </div>
                         <% if (errorMessage.length > 0) { %>                
                            <div class="alert alert-danger" role="alert"> <%- errorMessage %>  </div>                  
                        <% } %>
                          <% if (successMessage.length > 0) { %>                
                            <div class="alert alert-success" role="alert"> <%- successMessage %>  </div>                    
                          <% } %>

                    </div>
                  
                </div> 
            </div>             
          </div> 
        </form>        
       </div>   
  </section>


  <%- include('../layout/adminFooter') %>