<%- include('../layout/adminHeader') %>
<style>
  .input-group {
    /* display  : flex;
    flex-direction: column; */
  position:relative;
  width : 100%;
  /* //background-color: aqua; */
  margin-bottom: 25px;
} 
  .error{
    position:absolute;
    right:8px;
    top:10px;
   color:#ed1557;
   font-size: 13px;
   font-weight: bold;
}

.error i {
    color:seagreen;
}
</style>
<section>   
      <div class="container">
        <form role="form"  action="/addCategory" method="post" onsubmit="return validateCategory()">    
        <div class="row ">                    
            <div class="col-6">
                <div class="card card-plain">
                    <div class="card-header">
                      <h4 class="font-weight-bolder">Add new Category</h4>
                      <!-- <p class="mb-0">Enter your email and password to register</p> -->
                    </div>

                    <div class="card-body">             
                      <div class="input-group input-group-outline mb-3">
                         <input type="text" id="name" name="name" class="form-control" placeholder="Name" onchange="validateName()">
						             <span id="name-error" class="error"></span>                        
                      </div>
                     
                      <div class="input-group input-group-outline mb-3">                  
                        <textarea type="text" id="description" name="description" class="form-control" placeholder="Description" onkeyup="validateDescription()"></textarea>
						             <span id="description-error" class="error"></span>                     
                       </div>                    
                                           
                        <div class="text-center d-flex justify-content-end">                         
                            <button type="submit" class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0 me-2">Submit</button>
                         </div>
                         <% if (errorMessage.length > 0) { %>                
                          <div id="errorMessageDiv" class="alert alert-danger mt-3" role="alert"> <%- errorMessage %>  </div>                
                                             <script>                                
                                               setTimeout(function() {
                                                  var errorMessageDiv = document.getElementById("errorMessageDiv");
                                                  if (errorMessageDiv) {
                                                      errorMessageDiv.style.display = "none";
                                                  }
                                              }, 4000); 
                                          </script>
                          <% } %>                     
                    </div>                 
                </div> 
            </div>             
          </div> 
        </form>        
       </div>   
  </section>
  <script src="/js/validate.js"></script>

  <%- include('../layout/adminFooter') %>