<%- include('../layout/adminHeader') %>
<style>
  .input-group {
    /* display  : flex;
    flex-direction: column; */
  position:relative;
  width : 100%;
  /* //background-color: aqua; */
  margin-bottom: 25px;
}

.input-group input,
.input-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.floating-label {
  position: absolute;
  left: 10px;
  top: 10px;
  pointer-events: none;
  transition: 0.2s ease all;
  color: #aaa;
  font-size: 1rem;
}

input:focus ~ .floating-label,
input:not(:placeholder-shown) ~ .floating-label,
textarea:focus ~ .floating-label,
textarea:not(:placeholder-shown) ~ .floating-label {
  top: -20px;
  left: 10px;
  font-size: 0.8rem;
  color: #474b50;
} 
  .error{
    position:absolute;
    right:8px;
    top:10px;
   color:#ed1557;
   font-size: 13px;
   font-weight: bold;
}

.error i {
    color:seagreen;
}
</style>
<section>   
      <div class="container">
        <form role="form"  action="/newOffer" method="post" onsubmit="return validateForm()">    
        <div class="row ">                    
            <div class="col-6">
                <div class="card card-plain">
                    <div class="card-header">
                      <h4 class="font-weight-bolder">Add New Offer</h4>
                      <!-- <p class="mb-0">Enter your email and password to register</p> -->
                    </div>

                    <div class="card-body">             
                     
                      <div class="input-group input-group-outline mb-3">
                      <div class="dropdown mx-3">
                        <select id="offertype" class="form-control" required>
                          <option value="">Select Type</option>
                          <option value="Product Offer">Product Offer</option>
                          <option value="Category Offer">Category Offer</option>
                        </select></div> 
                    </div>  
                    <div class="input-group input-group-outline mb-3">
                      <div class="mx-4">
                        <select id="offerName" class="form-control" required>
                          <option value="">Select Name</option>                            
                        </select>
                      </div>
                   </div>                  
                      <div class="input-group input-group-outline mb-3">
                        <input type="text" id="percentage" name="percentage" class="form-control" placeholder="" onchange="validateDisPer()">
                        <label for="percentage" class="floating-label">Enter Discount Percentage</label>
                        <span id="discount-error" class="error"></span>
                      </div>   
                     <div class="input-group input-group-outline mb-3">
                        <input type="date" name="start" class="form-control" placeholder="Select Start Date dd-mm-yyyy" required>
                     </div>   
                     <div class="input-group input-group-outline mb-3">
                        <input type="date" name="end" class="form-control" placeholder="Select End Date dd-mm-yyyy" required>
                     </div>                                         
                                           
                        <div class="text-center d-flex justify-content-end">                         
                            <button type="button" id="addOfferButton"  onclick="addOfferDetails()"   class="btn btn-lg bg-gradient-secondary btn-lg w-100 mt-4 mb-0 me-2">Add</button>
                         </div>
                         <% if (errorMessage.length > 0) { %>                
                            <div id="errorAlert" class="alert alert-danger text-white mt-4" role="alert"> <%- errorMessage %>  </div>                  
                        <% } %>
                          

                    </div>
                  
                </div> 
            </div>             
          </div> 
        </form>        
       </div>   
  </section>

<script>

const discountError = document.getElementById('discount-error')
function validateDisPer(){
		const percentage = document.getElementById('percentage').value
	
		if(percentage.length === 0){
			discountError.innerHTML = 'Discount is required'
			return false
		}

    if(!percentage.match(/^(?!0(?:\.0+)?$)(?:100(?:\.0+)?|\d{0,2}(?:\.\d+)?)$/)){
      discountError.innerHTML = 'Discount should be valid'
			return false
		}
		
		discountError.innerHTML = '<i class = "fas fa-check-circle"></i>'
		return true
	}
  function validateForm() {
   
    const isDiscountValid = validateDisPer();
    
    return isDiscountValid ;
  }


  document.getElementById('offertype').addEventListener('change', function() {
    const selectedType = this.value;
    
    // Fetch corresponding names based on selectedType
    fetch(`/getNames/${selectedType}`)
    .then(response => response.json())
    .then(data => {
        const offerNameDropdown = document.getElementById('offerName');
        
        // Clear previous options
        offerNameDropdown.innerHTML = '<option value="No Selection">Select Name</option>';
        
        // Populate offerName dropdown with fetched names
        data.names.forEach(name => {
            const option = document.createElement('option');
            option.value = name;
            option.textContent = name;
            offerNameDropdown.appendChild(option);
        });
    })
    .catch(error => {
        console.error('Error fetching names:', error);
    });
});

function addOfferDetails(){
    const offer_type = document.getElementById('offertype').value
    const offer_name = document.getElementById('offerName').value
    const percentage = document.querySelector('input[name="percentage"]').value
    const start = document.querySelector('input[name="start"]').value
    const end = document.querySelector('input[name="end"]').value

   
    const offerData = {
      offer_type, offer_name, percentage, start, end
    }

    console.log("ofer details :",offerData)
  fetch("/newOffer",{
    method:"post",
    headers:{
      'Content-Type' :  'application/json'
    },
    body : JSON.stringify(offerData)
  }).then((res)=>res.json())
  .then((data)=>{    
        if(data.success){
          location.href = '/getOffer'
        } else {
          location.href = '/newOffer'
      }
  })

}
</script>
  <%- include('../layout/adminFooter') %>