<%- include('../layout/profileHeader') %>
<div class="d-block">
    <div class="d-flex">
        <div >   
            <a href="/getOrder"><p class="bottom-line border-bottom border-success mx-4 p-0">Orders</p></a>         
        </div>
        <div >   
            <a href="/buyAgain"><p class="bottom-line border-bottom border-success mx-4 p-0">Buy Again</p></a>         
        </div>
        <div >   
            <a href="/cancellist"><p class="bottom-line border-bottom border-success  mx-4 p-0">Cancelled Orders</p></a>         
        </div>
    </div>
    <div>
        <p class="text-dark text-uppercase">My Orders</p>
    </div>
    <div>

    </div>

</div>

</div>
<%- include('../layout/userFooter') %>