<%- include('../layout/userHeader') %>
 <div class="d-flex">
    <div class="address"></div>
    <div class="payment"></div>
    <div class="checkout"></div>
 </div>
<%- include('../layout/userFooter') %>