<%- include('../layout/userHeader') %>

<div class="container">
    <h1>Your order successfully placed!!</h1>
    <a href="/allproducts"><p class="link">Continue Shopping</p></a>

</div>

<%- include('../layout/userFooter') %>