/* ******* modal*** */

*, *::after, *::before {
    box-sizing : border-box;
}

/*************modal for confirm********************/
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) ;
    transition:  200ms ease-in-out ;
    border: 0;
    border-radius: 20px;
    box-shadow: 0 0 1em rgb(0 0 0 /.3);
    z-index : 199999;
    background-color: white;
    width: 500px;
    height:250px;
    max-width:80%;
}
.modal.active{
    transform: translate(-50%, -50%) scale(1);
}
.trash-icon {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}
.closeModal{
    display:flex;
    justify-content:space-between;
    align-items: center; 
   
}
.closeModal .close-button{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
    color: dimgray;
    margin-top: 10px;
    margin-right:20px;
}

.modal-body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
}
#overlay{
    position: fixed;
    opacity:0;
    transition:  200ms ease-in-out ;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}
#overlay.active{
    opacity: 1;
    pointer-events: all;
}
.modal-footer{
    display:flex;
    justify-content:right;
    align-items: center; 
}
.btnmodal{
    height:40px;
    width:45px;
    padding: 10px;
    font-size: 13px;
    text-transform: capitalize;
}

/***********extra for address modal*****************/

/***modal size***/
.mod-ad{
    width: 600px;
    height:700px; 
}
/***inside modal body***/
.address-body{
    display:block;
    justify-content: center;
    align-items: center;
}