/*******************product detail view page*********************/

body {
    background: rgba(1, 1, 1, 0);
    height: 100%;
    box-sizing:border-box
  }

.base_container{
    height:800px;
    /* box-sizing:border-box */
}
.product_view{
    width:670px;
    height :590px;    
    margin-bottom: 50px;
    border-radius: 10px;   
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.detail_view{
    width:670px;
    height :590px;
    padding-left: 40px;
    padding-top: 15px;
}
.main_image{
    width:670px;
    height :590px;
   
}
.main_image img{
    width:670px;
    height :590px;
    border-radius: 10px;
}
/* .thump_images picture{
    width: 100px;
    height: 100px;
    padding:10px;
    background-color: bisque;
} */
.thump_images img{
    width: 90px;
    height: 90px;
    border-radius: 5px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
}

.nav-but{
   font-size: 15px;
    border:none;
    width:190px;
    height:40px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.product-Name{
    font-size: 25px;
    color:rgb(40, 35, 35);
    font-weight: 600;
    text-transform: uppercase ;
}
.p-per{
    font-size: 23px;
    padding-top:2px;
    color:red;
}
.p-price{
    font-size: 26px;
    color:rgb(11, 11, 11);
}
.p-mrp{
    font-size: 13px;
    color: rgb(69, 93, 93);
}
.p-mrp span{
    text-decoration: line-through;
}
.det-head{
    font-size: 19px;
    color:rgb(93, 89, 89);
    font-weight: 600;
}
.det-name{
    font-size: 15px;
    color:rgb(168, 150, 15);
    font-weight: 400;
    text-shadow:1px 1px 2px pink;
}
.det-name span{
    font-size: 14px;
    color:rgb(29, 26, 2);
    font-weight: 200;    
}
.link-wish{
    font-size: 16px;
    color:rgb(8, 4, 218);
    font-weight: 200;
}

/*********image zooming effect************/

.img-zoom-container {
    position: relative;
  }
  
  .img-zoom-lens {
    position: absolute;
    border: 1px solid #d4d4d4;
    /*set the size of the lens:*/
    width: 50px;
    height: 50px;
  }
  
  .img-zoom-result {
    /* border: 1px solid #d4d4d4;
    
    transform: translate(5%, 0) ;
    z-index: 10;
    width: 700px;
    height: 500px; */
    position: fixed;
    /* top: 18%;
    left: 55%; */
    top: 18%;
    left: 20%;
    transform: translate(10%, 0%) ;
    transition:  200ms ease-in-out ;
    border: 0;
    border-radius: 20px;
    box-shadow: 0 0 1em rgb(0 0 0 /.3);
    z-index : 199999;
    visibility: hidden;
    width: 600px;
    height:585px;
    max-width:80%;
   

  }

  /***************footer*****************/

.foot-email{
    height:60px;
}


/*****************cart page******************/
.base-div{
    /* width:1000px;
    background-color: white; */
}
.cart-left{
    /* width:900px; */
}
.cart-head{
    display:flex;
    justify-content: end;
    align-items: end;
    border-bottom: solid .5px black;
}
.cart-list{
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid .5px black;
}
.cart-image{
    width:90px;
    height:90px;
    /* margin-right:10px; */
}
.cart-name{
    /* margin-right:400px; */
}
.cart-details{
    display:flex;
    justify-content:flex-start;
    align-items: center;
    /* margin-right:100px; */
}
.cart-opert{
    display:flex;
    justify-content: center;
    align-items: center;
    border:  .8px black;
    padding:5px;
    /* margin-right:100px; */
}