body{
    margin: 0;
    padding: 0;
}
/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

/*******************user login**********************/

/* html,body{
background-image: url('/userasset/images/deepam.png');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
} */

.container{
height: 100%;
align-content: center;
}

.card{
position: absolute;
top:20%;
left:38%;
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color:transparent;
border:none;
box-shadow:  0 4px 8px 0 rgba(94, 6, 89, 0.2), 0 6px 20px 0 rgba(89, 5, 94, 0.316);
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color:#4F0341;
}

.social_icon span:hover{
color: #eb47cd;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #4F0341;
color: white;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: #8921a1
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: white;
background-color: #4F0341;
width: 100px;
}

.login_btn:hover{
color: white;
background-color: #eb47cd;
}

.links{
color: #4F0341;
}

.links a{
margin-left: 4px;
}

/**********************************/
.stat-box{
    width:150px;
    height:60px;
    background-color: rgb(14, 135, 216);
    border-color: blue;
    border-radius: 10px;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.3); 
    color:white;
    font-size: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*************validations*********************/

 .input-group {
    /* display  : flex;
    flex-direction: column; */
  position:relative;
  width : 100%;
  background-color: aqua;
  margin-bottom: 25px;
} 

.input-group input{
   /* border : none; */
    /* border-radius : 4px; */
    /* display : block; */
   /*  border-bottom: 1px solid #ccc; */
    font-size:15px;
    padding : 10px;
    
   
} 

.input-group input:focus{
    border-color: 1px solid #4F0341;
}

.input-group.success input{
    border-color:1px solid #09c372;
   
}

.input-group.error input{
    border-color:1px solid #ff3860;
  
   
}
.error{
    position:absolute;
    right:8px;
    top:10px;
   color:#ed1557;
   font-size: 13px;
   font-weight: bold;
}

.error i {
    color:seagreen;
}
