<%- include('../layout/authheader') %>

<body style="background-image: none;">
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card" style="height: 300px; background-color:transparent;">
                <div class="card-header" style="background-color: rgb(96, 9, 9)">
                    <h3>Change Password</h3>                    
                </div>
                <div class="card-body" tyle="background-color: white">
                  
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" name="password" class="form-control" placeholder="Old password">
                            
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" name="newpassword" class="form-control" placeholder="new password">
                            
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" name="confirmpassword" class="form-control" placeholder="confirm new password">
                        </div>
                        <div class="form-group">
                            <button type="button" onclick="passwordchanging('<%=userid%>')" class="btn float-right login_btn">Change</button>

                        </div>
                   
                </div>
            </div>
        </div>
    </div>


    <script>
        function passwordchanging(userid){
            console.log(userid)
            const password = document.querySelector('input[name="password"]').value
            const newpassword = document.querySelector('input[name="newpassword"]').value
            const confirmpassword = document.querySelector('input[name="confirmpassword"]').value
            const formData={
                password,newpassword,confirmpassword
            }
            console.log("form data :",formData)
            fetch(`/changePassword/${userid}`,{
                method:"post",
                headers:{
                    'Content-Type':'application/json'
                },
                body:JSON.stringify(formData)
            })
            .then((res)=>res.json())
            .then((data)=>{
                if(data.success){
                    location.href='/signin/userLogin'
                } else {
                    location.href=`/signin/changePassword/${userid}`
                }
            })

        }
    </script>

<%- include('../layout/authfooter') %>