<%- include('../layout/authheader') %>

<body style="background-image: none;background-color: rgb(245, 226, 237);">
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card" style="height: 450px;width:400px; background-color:white;border-radius:25px;">
                <div class="row justify-content-center" >
                    <span style="color:#681d5a ;font-size: 55px;margin-top: 45px;"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                    <!--  puple : #4F0341 pink :  #eb47cd green :  #00bfa5-->
                </div>
                <form action="/forgotMail" method="post">               
                    <div class="card-body" tyle="background-color: white">
                            <div class="row justify-content-center text-dark font-weight-bold mb-1">Forgot Password</div>
                            <div class="row justify-content-center mb-3"><p class="text-center">Enter your email and we'll send a link to reset your password</p></div>
                            <div class="rowjustify-content-center mb-2">
                                <!-- 4 boxes for digits -->
                                <div class="col">
                                    <input type="text" class="form-control" name="email" placeholder="Enter your mailID" >
                                </div>                          
                                            
                            </div>
                            
                            <div class="row justify-content-center mb-3">
                                <button type="submit" class="btn float-right login_btn" style="width: 200px; border-radius: 25px;">Submit</button>
                            </div>
                            <div class="row justify-content-center"><a href="/signin/userLogin" style="text-decoration: none;color:#00bfa5;">Back to Login</a></div>
                            <!-- resend timer add -->
                    
                    </div>
                </form>
            </div>
        </div>
    </div>
<%- include('../layout/authfooter') %>   