<%- include('../layout/authheader') %>

<body style="background-image: none;background-color: rgb(245, 226, 237);">
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card" style="height: 400px; background-color:white;border-radius:25px;">
                <div class="row justify-content-center" >
                    <span class="rounded-circle text-center" style="background-color:#681d5a ;width:100px;color:white;font-size: 55px;margin-top:-45px;"><i class="fa fa-key" aria-hidden="true"></i></span>
                    <!--  puple : #4F0341 pink :  #eb47cd green :  #00bfa5-->
                </div>
                <div class="card-body" tyle="background-color: white; padding:20px;">                  
                    <div class="row justify-content-center text-dark font-weight-bold mb-1">Reset Password</div>
                    <div class="row justify-content-center mb-3 p-3 text-center">Enter a new password below to change your password</div>
                        <div class="row justify-content-center mb-4">                           
                            <input type="password" style="width: 250px;" name="password" class="form-control" placeholder="password">
                        </div>
                        <div class="row justify-content-center mb-3">                           
                            <input type="password" style="width: 250px;" name="confirmpassword" class="form-control" placeholder="confirm password">
                        </div>
                        <div class="row justify-content-center">
                            <button type="button" onclick="passwordchanging('<%=userid%>')" class="btn float-right login_btn" style="width:250px;">Reset Password</button>

                        </div>
                   
                </div>
            </div>
        </div>
    </div>


    <script>
        function passwordchanging(userid){
            const password = document.querySelector('input[name="password"]').value            
            const confirmpassword = document.querySelector('input[name="confirmpassword"]').value
            const formData={
                password,confirmpassword
            }
            console.log("form data :",formData)
            fetch(`/resetPassword/${userid}`,{
                method:"post",
                headers:{
                    'Content-Type':'application/json'
                },
                body:JSON.stringify(formData)
            })
            .then((res)=>res.json())
            .then((data)=>{
                if(data.success){
                    location.href='/signin/userLogin'
                } else {
                    location.href=`/signin/resetPassword/${userid}`
                }
            })

        }
    </script>

<%- include('../layout/authfooter') %>