<%- include('../layout/authheader') %>

<body style="background-color: rgb(245, 226, 237);">
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card" style="padding:10px;background-color: white;border-radius: 25px; height:420px;width:450px;">
			<div class="card-header mt-4">
				<h3 style="color:#4F0341">Log In</h3>
				<div class="d-flex justify-content-end social_icon">
					<!-- <span><i class="fab fa-facebook-square"></i></span> -->
					<a href="/auth/google"><span><i class="fab fa-google-plus-square"></i></span></a>
					<!-- <span><i class="fab fa-twitter-square"></i></span> -->
				</div>
			</div>
			<div class="card-body p-4">
				<form action="/checkLogin" method = "post">
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input id="email" type="text" name="email" value="afreen@gmail.com" class="form-control" placeholder="username" required>
						
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" id="password" name="password" value="afreen123" class="form-control" placeholder="password" required >
					</div>
					<div class="row align-items-center remember">
						<input  id="rememberMe" type="checkbox">Remember Me
					</div>
					<div class="form-group">
						<input type="submit" value="Login" class="btn float-right login_btn">
					</div>
				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					Don't have an account?<a href="/signin/signup" style="color:#6814dd">Sign Up</a>
				</div>
				<div class="d-flex justify-content-center">
					<a href="/signin/forgetPassword"  style="color:#6814dd">Forgot your password?</a>
				</div>
			</div>
		</div>
		<div style="position:absolute;top:75%;left:42%;">
			<% if (errorMessage.length > 0) { %>                
				<div class="alert alert-danger" role="alert"> <%- errorMessage %>  </div>                  
			  <% } %>
			  <% if (successMessage.length > 0) { %>                
				<div class="alert alert-success" role="alert"> <%- successMessage %>  </div>                    
			  <% } %>
		</div>
	</div>
	
</div>
<script>
	 function saveCredentials() {
            if (document.getElementById('rememberMe').checked) {
                localStorage.setItem('email', document.getElementById('email').value);
                localStorage.setItem('password', document.getElementById('password').value);
                localStorage.setItem('rememberMe', 'true');
            } else {
                localStorage.removeItem('email');
                localStorage.removeItem('password');
                localStorage.removeItem('rememberMe');
            }
        }

        // Function to load email and password from local storage
        function loadCredentials() {
            if (localStorage.getItem('rememberMe') === 'true') {
                document.getElementById('email').value = localStorage.getItem('email');
                document.getElementById('password').value = localStorage.getItem('password');
                document.getElementById('rememberMe').checked = true;
            }
        }

        // Call loadCredentials when the page loads
        window.onload = function() {
            loadCredentials();
            // Add event listener to the rememberMe checkbox
            document.getElementById('rememberMe').addEventListener('change', saveCredentials);
        };
</script>

<%- include('../layout/authfooter') %>