
  <footer class="site-footer border-top bg-light text-dark">
    <!-- <div class="container"> -->
      <div class="d-flex justify-content-around">        
          <div class="d-block left_box">
              <div class="left-head">
                <h3 class="footer-heading mb-5 text-dark">Navigations</h3>
              </div>
           
              <div class="d-flex left-body">
                    <div class="first-col mx-3">
                      <ul class="list-unstyled">
                        <li><a href="#">Handicrafts</a></li>
                        <li><a href="#">Anique</a></li>
                        <li><a href="#">Spices</a></li>
                        <li><a href="#">Apparels</a></li>
                      </ul>
                    </div>
                    <!-- <div class="col-md-6 col-lg-4"> -->
                      <div class="second-col mx-3">
                      <ul class="list-unstyled">
                        <li><a href="#">FAQ's</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                      </ul>
                    </div>
                    <div class="third-col mx-3">
                      <ul class="list-unstyled">
                        <li><a href="#">Shipping</a></li>
                        <li><a href="#">Refund Policy</a></li>
                      
                      </ul>
                    </div>
                </div>
          </div>        
        <div class="d-block middle-box">
          <h3 class="footer-heading mb-3 text-dark">Promo</h3>
          <a href="#" class="block-6 d-block">
            <div><img src="/userasset/images/netturpett_blue_2.png" alt="Image placeholder" class="img-fluid rounded mb-3"></div>
            <div><h3 class="font-weight-light  mb-0" style="color:#4F0341">Tradition can never go out of style</h3></div>
          <div><p  class="text-dark">Promo from  nuary 15 &mdash; 25, 2019</p></div>
          </a>
        </div>
        <div class="d-block right-box">
          <div class="block-5 d-block">
            <h3 class="footer-heading mb-3">Contact Info</h3>
            <ul class="list-unstyled">
              <li class="address text-dark">203A Shastri nagar, Pallimukku, KLM, Kerala</li>
              <li class="phone"><a href="tel://23923929210">+91 623 3929 210</a></li>
              <li class="email text-dark">info@traditionshoppe.com</li>
            </ul>
          </div>

          <div class="block-7 foot-email">
            <form action="#" method="post">
            
              <div class="form-group">
                <input type="text" class="form-control py00" id="email_subscribe" placeholder="Email">
                <input type="submit" class="btn btn-sm text-white purp-back" value="Send">
              </div>
            </form>
          </div>
        </div>
      </div>

        <div class="d-flex justify-content-center text-center">
          <p>
        
          Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | <i class="icon-heart" aria-hidden="true"></i> by <a href="/user/index" target="_blank" style="color:#4F0341">TraditionShoppe</a>
         
          </p>
        </div>
        
      <!-- </div> -->
 
  </footer>

</div>

<script src="/userasset/js/jquery-3.3.1.min.js"></script>
<script src="/userasset/js/jquery-ui.js"></script>
<script src="/userasset/js/popper.min.js"></script>
<script src="/userasset/js/bootstrap.min.js"></script>
<script src="/userasset/js/owl.carousel.min.js"></script>
<script src="/userasset/js/jquery.magnific-popup.min.js"></script>
<script src="/userasset/js/aos.js"></script>

<script src="/userasset/js/main.js"></script>
<script src="/js/script-modal.js"></script>
  
</body>
</html>