<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700"> 
    <link rel="stylesheet" href="/userasset/fonts/icomoon/style.css">
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <script src="https://codepen.io/fghty/pen/BaZGpdZ"></script>

    <link rel="stylesheet" href="/userasset/css/bootstrap.min.css">
    <link rel="stylesheet" href="/userasset/css/magnific-popup.css">
    <link rel="stylesheet" href="/userasset/css/jquery-ui.css">
    <link rel="stylesheet" href="/userasset/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/userasset/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://foolishdeveloper.com/image-zoom-on-hover-using-pure-javascript-css/">

    <link rel="stylesheet" href="/userasset/css/aos.css">

    <link rel="stylesheet" href="/userasset/css/style.css">
    <link rel="stylesheet" href="/stylesheets/style-user.css" type="text/css">
    
  </head>
  <body>
    <div class="site-wrap">

      <!-- -----Top header line---- -->

      <div class="py-1 purp-back" >
            <div class="container">
                <div class="row no-gutters d-flex  align-items-center px-md-0">
                    <div class="col-lg-12 d-block">
                        <div class="row d-flex justify-content-center">                           
                            <div class=" d-flex topper align-items-center">                               
                                <span class="text-white">Upto 10% off on product&emsp;|&emsp;Free delivery across India&emsp;|&emsp;100% Secure checkout&emsp;|&emsp;Cash on delivery</span>
                            </div>                            
                        </div>
                    </div>
                </div>
              </div>
        </div>

        <!--------Header------------>

        <header class="site-navbar" role="banner">
          <div class="site-navbar-top">           
            <div class="container">
              <div class="row align-items-center">
    
                <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left d-flex">
                 
                  
                  <form action="/allproducts" id="searchForm" class="site-block-top-search d-flex" method="get" onsubmit="updateAction()">
                    <input type="text" name="search" id="search" class="form-control border-1 search">
                    <button type="submit" class="search-but">Search</button>
                </form>
                
                    
                  
                </div>
    
                <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
                  <div class="site-logo">
                    <a class="navbar-brand m-0" href="/home" target="_blank">
                      <img src="/userasset/images/logo.png" class="navbar-brand-img h-100" alt="main_logo">
                      <span class=" logo-span ms-1 font-weight-bold text-dark">TraditionShoppe</span>
                    </a>
                  </div>
                </div>
    
                <div class="col-6 col-md-4 order-3 order-md-3 text-right">
                  <div class="site-top-icons">
                    <% if(user){ %>
                     
                       
                    <ul>                     
                      
                      <li>
                        <a href="/cart" class="site-cart">
                          <span class="icon icon-shopping_cart"></span>
                          <span id="qCount" class="count"><%= qtyCount %></span>
                        </a>
                      </li>&nbsp;
                      <li>
                        <a href="/getList" class="site-cart">
                          <span class="icon icon-heart-o"></span>
                          <span class="count"><%= listCount %></span>
                        </a>
                      </li>&nbsp; 
                      <li><a href="/userProfile"><span class="icon icon-person"></span></a></li>&nbsp;
                      <li><a href="/logout"><span class="icon icon-sign-out"></span></a></li>
                      <li class="d-inline-block d-md-none ml-md-0"><a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu"></span></a></li>
                    </ul>
                    <% } else { %>
                      <ul>
                        <li>
                          <a href="/signin/userLogin" class="site-cart">
                            <span class="icon icon-shopping_cart"></span>
                            <span class="count">0</span>
                          </a>
                        </li>&nbsp;
                        <li>
                          <a href="/signin/userLogin" class="site-cart">
                            <span class="icon icon-heart-o"></span>
                            <span class="count">0</span>
                          </a>
                        </li>&nbsp;
                        <li><a href="/signin/userLogin"><span class="icon icon-person"></span></a></li>&nbsp;                         
                        <li class="d-inline-block d-md-none ml-md-0"><a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu"></span></a></li>
                      </ul>
                      <% } %>
                  </div> 
                </div>
    
              </div>
            </div>
          </div> 
          <nav class="site-navigation text-right text-md-center" role="navigation">
            <div class="container">
              <% if(user){ %>
               
              <ul class="site-menu js-clone-nav d-none d-md-block">
                <li>
                  <a href="/home">Home</a>                
                </li>                
                <li><a href="/allproducts">Shop</a></li>
               <!--  <li class="has-children">
                  <a href="">Category</a>
                  <ul class="dropdown">
                    <li><a href="/handicrafts">Handicrafts</a></li>
                    <li><a href="/antiques">Antique</a></li>
                    <li><a href="/spices">Spices</a></li>
                    <li><a href="/apparels">Apparels</a></li>
                  </ul>
                </li> -->
                
                <li><a href="/getusercoupon">Coupons</a></li>                
              </ul>
              <% } else { %>
                <ul class="site-menu js-clone-nav d-none d-md-block">
                  <li>
                    <a href="/signin/userLogin">Home</a>                
                  </li>                
                  <li><a href="/signin/userLogin">Shop</a></li>
                  <!-- <li class="has-children">
                    <a href="">Category</a>
                    <ul class="dropdown">
                      <li><a href="/signin/userLogin">Handicrafts</a></li>
                      <li><a href="/signin/userLogin">Antique</a></li>
                      <li><a href="/signin/userLogin">Spices</a></li>
                      <li><a href="/signin/userLogin">Apparels</a></li>
                    </ul>
                  </li> -->
                  <li><a href="/signin/userLogin">Today Deals</a></li>
                  <li><a href="/signin/userLogin">Coupons</a></li>                
                </ul>
                <% } %>
            </div>
          </nav>
        </header>