
  <footer class="site-footer border-top bg-light text-dark">
    <div class="container mb-0">
      <div class="row">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="row">
            <div class="col-md-12">
              <h3 class="footer-heading mb-4">Navigations</h3>
            </div>
            <div class="col-md-6 col-lg-4">
              <ul class="list-unstyled">
                <li><a href="#">Handicrafts</a></li>
                <li><a href="#">Anique</a></li>
                <li><a href="#">Spices</a></li>
                <li><a href="#">Apparels</a></li>
              </ul>
            </div>
            <div class="col-md-6 col-lg-4">
              <ul class="list-unstyled">
                <li><a href="#">FAQ's</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms & Conditions</a></li>
              </ul>
            </div>
            <div class="col-md-6 col-lg-4">
              <ul class="list-unstyled">
                <li><a href="#">Shipping</a></li>
                <li><a href="#">Refund Policy</a></li>
               
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
          <h3 class="footer-heading mb-3">Promo</h3>
          <a href="#" class="block-6">
            <img src="/userasset/images/netturpett_blue_2.png" alt="Image placeholder" class="img-fluid rounded mb-3">
            <h3 class="font-weight-light  mb-0" style="color: #0afb77;">Tradition can never go out of style</h3>
            <p  style="color: #c3c8d3;">Promo from  nuary 15 &mdash; 25, 2019</p>
          </a>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="block-5 mb-3">
            <h3 class="footer-heading mb-3">Contact Info</h3>
            <ul class="list-unstyled">
              <li class="address">203A Shastri nagar, Pallimukku, KLM, Kerala</li>
              <li class="phone"><a href="tel://23923929210">+91 623 3929 210</a></li>
              <li class="email">info@traditionshoppe.com</li>
            </ul>
          </div>

          <div class="block-7 foot-email">
            <form action="#" method="post">
            
              <div class="form-group">
                <input type="text" class="form-control py-4" id="email_subscribe" placeholder="Email">
                <input type="submit" class="btn btn-sm text-white purp-back" value="Send">
              </div>
            </form>
          </div>
        </div>
      </div>

        <div class="col-md-12 d-flex justify-content-center">
          <p>
        
          Copyright &copy;<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script> All rights reserved | <i class="icon-heart" aria-hidden="true"></i> by <a href="/user/index" target="_blank" class="text-success">TraditionShoppe</a>
         
          </p>
        </div>
        
      </div>
 
  </footer>

</div>

<script src="/userasset/js/jquery-3.3.1.min.js"></script>
<script src="/userasset/js/jquery-ui.js"></script>
<script src="/userasset/js/popper.min.js"></script>
<script src="/userasset/js/bootstrap.min.js"></script>
<script src="/userasset/js/owl.carousel.min.js"></script>
<script src="/userasset/js/jquery.magnific-popup.min.js"></script>
<script src="/userasset/js/aos.js"></script>

<script src="/userasset/js/main.js"></script>
<script src="/js/script-modal.js"></script>
  
</body>
</html>